### 利用map()函数，把用户输入的不规范的英文，变成首字母大写，其他小写的规范的名字：比如说["ADMAm","LISA","JACk"]

In [2]:
def standards(s):
    t = s.lower() # 将所有的字母小写
    t = t.capitalize()# 将首字母大写
    print(t)
    return t

list(map(standards, ["ADMAm","LISA","JACk"]))

Admam
Lisa
Jack

['Admam', 'Lisa', 'Jack']

### 回数:从左向右和从右向左读都是一样的数, 例如,12321, 999, 请利用filter()函数

In [12]:
def equal(a, b):
    return a == b

def is_pelindrome(n):
    s = str(n) # 先转换成字符串
    for i in range(len(s)-1):
        if equal(s[i], s[len(s)-i-1]):
            continue
        else:
            return False
    return True
        
output = filter(is_pelindrome, range(1,1000))
print(type(output))
print('1-1000', list(output))

<class 'filter'>
1-1000 [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

假设,用一组元组表示学生的名字和成绩: L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('List', 88)]用sorteed()对上述列表按照名字排序

In [14]:
L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('List', 88)]

def by_name(t):
    t = sorted(t[0], key=str.lower)
    return t
L2 = sorted(L, key=by_name)
print(L2)

[('Adam', 92), ('Bob', 75), ('Bart', 66), ('List', 88)]

按照成绩高低进行排序

In [21]:
def by_score(t):
    t = sorted(range(t[1]), key=abs)
    return t

Lw = sorted(L, key=by_score, reverse=True)
print(Lw)

[('Adam', 92), ('List', 88), ('Bob', 75), ('Bart', 66)]

In [20]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

利用map()函数，把用户输入的不规范的英文，变成首字母大写，其他小写的规范的名字：比如说["ADMAm","LISA","JACk"] 利用lamdba函数

In [29]:
ls = ["ADMAm","LISA","JACk"]

new_ls = map(lambda x: x.lower().title(), ls)
print(list(new_ls))

['Admam', 'Lisa', 'Jack']

回数:从左向右和从右向左读都是一样的数, 例如,12321, 999, 请利用filter()函数 利用lambda函数

In [32]:
# 打印出1-1000之间的函数
ls = range(1000)

new_ls = filter(lambda x: str(x)[0] == str(x)[len(str(x))-1], ls)
print(list(new_ls))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

假设,用一组元组表示学生的名字和成绩: L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('List', 88)]用sorteed()对上述列表按照名字排序

In [36]:
ls = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('List', 88)]

new_ls = sorted(ls, key=lambda x: x[0])
print(new_ls)

new_ls = sorted(ls, key=lambda x: x[1], reverse=True)
print(new_ls)

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('List', 88)]
[('Adam', 92), ('List', 88), ('Bob', 75), ('Bart', 66)]

权重问题:
goods = [{'name':'good1', 'price':200, 'seles':100, 'starts': 5, 'comment':450},{'name':'good2', 'price':400, 'seles':120, 'starts': 3, 'comment':650}{'name':'good3', 'price':280, 'seles':107, 'starts': 3, 'comment':40}{'name':'good4', 'price':1100, 'seles':300, 'starts': , 'comment':456}{'name':'good5', 'price':2234, 'seles':170, 'starts': 5, 'comment':350}]

权重条件:
价格占据35%, 销量占据18%, 评论等级40%, 评论数占据7%

In [41]:
good_list = [{'name':'good1', 'price':200, 'seles':100, 'starts': 5, 'comment':450},
             {'name':'good2', 'price':400, 'seles':120, 'starts': 3, 'comment':650},
             {'name':'good3', 'price':280, 'seles':107, 'starts': 3, 'comment':400},
             {'name':'good4', 'price':1100, 'seles':300, 'starts': 4,'comment':456},
             {'name':'good5', 'price':2234, 'seles':170, 'starts': 5, 'comment':350}]

def sort(arg):
    price = arg['price']
    seles = arg['seles']
    starts = arg['starts']
    comment = arg['comment']
    
    data = price*0.35 + seles*0.18 + starts*0.40 + comment*0.7
    
    return data

sort_list = sorted(good_list, key=sort)

print(sort_list)

[{'name': 'good3', 'price': 280, 'seles': 107, 'starts': 3, 'comment': 400}, {'name': 'good1', 'price': 200, 'seles': 100, 'starts': 5, 'comment': 450}, {'name': 'good2', 'price': 400, 'seles': 120, 'starts': 3, 'comment': 650}, {'name': 'good4', 'price': 1100, 'seles': 300, 'starts': 4, 'comment': 456}, {'name': 'good5', 'price': 2234, 'seles': 170, 'starts': 5, 'comment': 350}]

In [45]:
# 使用lambda函数
sort_list = sorted(good_list, key=lambda arg: arg['price']*0.35+arg['seles']*0.18+arg['starts']*40+arg['comment'])
print(sort_list)

[{'name': 'good3', 'price': 280, 'seles': 107, 'starts': 3, 'comment': 400}, {'name': 'good1', 'price': 200, 'seles': 100, 'starts': 5, 'comment': 450}, {'name': 'good2', 'price': 400, 'seles': 120, 'starts': 3, 'comment': 650}, {'name': 'good4', 'price': 1100, 'seles': 300, 'starts': 4, 'comment': 456}, {'name': 'good5', 'price': 2234, 'seles': 170, 'starts': 5, 'comment': 350}]